<div class="container my-5 py-5">
    <form action="/admin/login" method="POST" class="my-5 py-5 col-8 m-auto">
        <div class="mb-3">
            <label for="" class="form-label">Login</label>
            <input type="text" class="form-control" name="login" required>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" required>
        </div>
        <div class="text-center">
            <button class="btn btn-primary">Jo'natish</button>
        </div>
    </form>
</div>