<nav class="navbar" style="background-color: #e3f2fd;">
  <div class="container">
      <ul class="nav py-3 justify-content-center">
        <li class="nav-item me-5">
            <a class="btn btn-primary" aria-current="page" href="/">Fayl Yuklash</a>
        </li>
        <li class="nav-item me-5">
            <a class="btn btn-primary" href="/user/files">Yuklagan Fayllariz</a>
        </li>
        {{#if isAdmin}}
        <li class="nav-item me-5">
            <a class="btn btn-primary" href="/all/files">Tumanlar Yuklagan Fayllari</a>
        </li>
        <li class="nav-item me-5">
            <a class="btn btn-primary" href="/region">Tumanlar</a>
        </li>
        <li class="nav-item me-5">
            <a class="btn btn-primary" href="/exelfile">Asosiy Fayl</a>
        </li>
        {{/if}}
        <li class="nav-item me-5">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Chiqish
            </button>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    Profilizdan chiqishni hohlaysizmi
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Qolish</button>
                    <form action="/logout" method="POST">
                        <button class="btn btn-danger" >Chiqish</button>
                    </form>
                </div>
                </div>
            </div>
            </div>

        </li>
    </ul>
  </div>
</nav>