<div class="container">
    <div class="col-12 text-center py-5">
        <h2 class="mt-5 text-center text-primary">Asosiy Faylni Yuklab Olish</h2>
        <h4 class="mb-5 text-center">Asosiy Faylni Joylashuvi: <span class="text-warning">/utils/public{{fileURL}}</span></h4>
        <a href="{{fileURL}}" class="btn btn-lg btn-primary">Yuklab olish uchun bosing</a>
    </div>
    <hr>
    <div class="col-12 text-center py-5">
        <h2 class="my-5 text-center text-primary">Asosiy Faylni O'zgartirish</h2>
        <div class="col-8 m-auto"> 
            <form action="/admin/exelfile/add" method="POST"  enctype="multipart/form-data">
                <h2>Fayl yuklang</h2>
                <input class="form-control form-control-lg my-5" type="file" name="file" required>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
                Yuklash
                </button>

                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <h4>Faylni yuklasangiz eski  asosiy fayliz o'chib ketadi</h4>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Qaytish</button>
                        <button type="submit" class="btn btn-primary" >Yuklash</button>
                    </div>
                    </div>
                </div>
                </div>
            </form>
        </div>
    </div>
    <hr>
</div>