<div class="container">
    <div class="row">
        <div class="col-8 text-center m-auto my-5 py-5">
            <form action="/file/add" method="POST"  enctype="multipart/form-data">
                <h1>Fayl yuklang</h1>
                <input class="form-control form-control-lg my-5" type="file" name="file">
                <button class="btn btn-lg my-3 btn-primary">Yuklash</button>
            </form>
            
        </div>
    </div>
</div>